!!! 5
%html
	%head
		%title wikibitmaker
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tag

	%body{:id => "#{params[:controller].parameterize}"}

		- if current_user
			%div.left_nav
				%ul
					%li= link_to "Articles", :articles
					%li= link_to "New Article", [:new, :article]
					%li= link_to "Sign Out", :session, :method => :delete

		- if flash[:notice]
			%div.alert.alert-success
				= flash[:notice]
		- elsif flash[:alert]
			%div.alert.alert-error
				= flash[:alert]

		%div.container
			= yield

		%div.bottom_nav
			%hr
			- if current_user
				%span.to_left
					= link_to "Wikibitmaker", :articles
			- else
				%span.to_left
					= link_to "About", "/about"
					= link_to "Bitmaker Labs", "http://bitmakerlabs.com/"

			%span.to_right 
				Made by
				%a{ href: "https://twitter.com/tommykail" } Tommy Kail
				and
				%a{ href: "http://mattvleming.com" } Matt Vleming